.p-card {
  width: 630px;
  height: fit-content;
  margin: 70px;
  position: relative;
  display: grid;
  justify-items: start;
  align-items: center;
  row-gap: 16px;
  column-gap: 26px;
  transition: 1s;
  translate: 0 100px;
  opacity: 0;
  list-style: none;
}

.p-card--default {
  margin-right: auto;
  grid-template-areas:
    "a b"
    "c d";
}

.p-card--reverse {
  margin-left: auto;
  grid-template-areas:
    "b a"
    "d c";
}

.p-card__img-wrapper {
  grid-area: a;
  position: relative;
  height: fit-content;
}

.p-card__img {
  aspect-ratio: 16 / 12;
  border-radius: 12px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.6);
}

.p-card__icon-wrapper {
  grid-area: c;
  justify-self: center;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 6px;
}

.p-card__text-data {
  grid-area: b;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 6px;
}

.p-card__title {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.p-card__descr {
  flex-grow: 1;
}

.p-card__btn-wrapper {
  grid-area: d;
  justify-self: stretch;
  width: 100%;
  display: flex;
  justify-content: stretch;
}

.p-card__btn {
  margin-right: 14px;
  padding: 6px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.p-card__btn > span:nth-child(2) {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background-color: white;
  color: black;
  border-radius: 100%;
}

@media screen and (max-width: 1023px) {
  .p-card {
    margin: 70px 30px;
  }

  .p-card--default {
    margin-right: auto;
  }

  .p-card--reverse {
    margin-left: auto;
  }
}

@media screen and (max-width: 767px) {
  .p-card {
    width: 412px;
    margin: 50px 30px;
  }

  .p-card--default {
    margin-right: auto;
  }

  .p-card--reverse {
    margin-left: auto;
  }

  .p-card__img {
    width: 180px;
    height: auto;
  }

  .p-card__btn {
    margin-right: 10px;
    padding: 3px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .p-card__btn > span:nth-child(2) {
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: var(--color-font);
    background-color: var(--color-body);
    border-radius: 100%;
  }
}

@media screen and (max-width: 478px) {
  .p-card {
    width: 350px;
    margin: 50px auto;
    align-items: center;
    grid-template-areas:
      "a"
      "c"
      "b"
      "d";
    gap: 10px;
  }

  .p-card__img {
    width: 350px;
    height: auto;
  }

  .p-card__icon-wrapper {
    justify-self: flex-end;
  }

  .p-card__btn-wrapper {
    margin-top: 30px;
    justify-content: center;
    gap: 10px;
  }

  .p-card__btn {
    width: 50%;
    height: 30px;
    padding: 0;
    margin-right: 0;
  }

  .p-card__btn > span:nth-child(2) {
    display: none;
  }
}
