.tech-cards__wrapper {
  width: 100vw;
  height: fit-content;
  min-height: 255px;
  position: relative;
  overflow: hidden;
}

.tech-cards {
  width: fit-content;
  height: fit-content;
  padding: 20px 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 3px;
  transition: 0.3s ease;
}

.tech-card__wrapper {
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

.tech-card {
  font-family: "Helvetica";
  width: 230px;
  aspect-ratio: 4/3;
  padding: 8px 12px 10px 12px;
  display: flex;
  flex-direction: column;
  transition: scale 0.3s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at -50% 50%,
    rgba(171, 194, 208, 0.8) 0%,
    rgba(171, 194, 208, 0.4) 10%,
    rgba(171, 194, 208, 0.1) 60%,
    transparent,
    transparent
  );
  mix-blend-mode: color-dodge;
  background-size: 300%;
  background-position: 50%;
}

.tech-card-title {
  font-size: var(--font-vs);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-body);
}

.tech-card-body {
  flex-grow: 1;
  padding-top: 6px;
}

.tech-card-body li {
  margin-bottom: 2px;
  list-style: none;
  font-size: var(--font-vs);
  color: var(--color-body);
}

.tech-card__icon-wrapper {
  align-self: flex-end;
  padding: 5px 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 14px 3px 14px 3px;
}

.tech-cards__btn-nav {
  width: fit-content;
  height: fit-content;
  bottom: 0;
  display: flex;
  gap: 20px;
}

.tech-cards__btn-nav > button {
  width: 30px;
  height: 12px;
  border-radius: 12px;
  border: 2px solid var(--color-main);
}
