.tech-cards {
  width: fit-content;
  height: fit-content;
  margin-top: 80px;
  padding: 20px 40px;
  display: flex;
  gap: 15px;
  border-radius: 3px;
}

.tech-card__wrapper {
  width: fit-content;
  height: fit-content;
  padding: 16px;
}

.tech-card {
  width: 220px;
  aspect-ratio: 4/3;
  padding: 8px 12px 10px 12px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: rgb(190, 189, 189);
  background: linear-gradient(135deg, #ffd17b 0%, #19547b 80%, #19227b 100%);
  border-radius: 4px;
  transition: scale 0.3s ease;
  overflow: hidden;
}

.tech-card *:not(:nth-child(1)) {
  z-index: 2;
}

.tech-card::before {
  content: "";
  width: calc(100% - 6px);
  height: calc(100% - 6px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  background-color: rgb(23, 23, 23);
}

.overlay {
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at -50% 50%,
    rgba(171, 194, 208, 0.8) 0%,
    rgba(171, 194, 208, 0.4) 10%,
    rgba(171, 194, 208, 0.1) 60%,
    transparent,
    transparent
  );
  mix-blend-mode: color-dodge;
  background-size: 300%;
  background-position: 50%;
}

.tech-card-title {
  font-size: var(--font-vs);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-font);
}

.tech-card-body {
  flex-grow: 1;
  padding-top: 6px;
}

.tech-card-body li {
  list-style: none;
  font-size: var(--font-vs);
  color: var(--color-font);
}

.about-me__icon-wrapper {
  align-self: flex-end;
  padding: 5px 8px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 14px 3px 14px 3px;
  border: 1.5px solid var(--color-main);
  background-color: rgb(0, 0, 0);
}
