.work-card {
  width: min(33vw, 100%);
  aspect-ratio: 1/1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
}

.work-card:nth-child(-n + 3) {
  border-bottom: 1px solid var(--color-main);
}

.work-card:not(:nth-child(3n)) {
  border-right: 1px solid var(--color-main);
}

.work-card__icon {
  width: 70%;
  aspect-ratio: 1/1;
  background-color: black;
  border-radius: 4px;
}

.work-card__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
