.icon-scroll__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-scroll {
  width: 26px;
  height: 40px;
  margin-bottom: 6px;
  position: relative;
  border-radius: 12px;
  border: 2px solid var(--color-opposite);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
}

.icon-scroll__wheel {
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  top: 6px;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: var(--color-opposite);
  animation: scrolling 1.6s ease infinite;
}

.icon-scroll__dir {
  width: 10px;
  height: 10px;
  transform: rotateZ(45deg);
  border: 3px solid;
  border-radius: 1px;
  border-color: transparent var(--color-opposite) var(--color-opposite)
    transparent;
}
