.icon-scroll__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-scroll {
  width: 28px;
  height: 45px;
  margin-bottom: 6px;
  position: relative;
  border: 2px solid var(--color-guide);
  border-radius: 12px;
}

.icon-scroll__wheel {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: var(--color-guide);
  animation: scrolling 1.6s ease infinite;
}

.icon-scroll__dir {
  width: 10px;
  height: 10px;
  transform: rotateZ(45deg);
  border: 2px solid;
  border-color: transparent var(--color-guide) var(--color-guide) transparent;
}
