:root {
  --font-t: 20px;
  --font-l: 18px;
  --font-m: 16px;
  --font-s: 14px;
  --header-width: 100vw;
  --header-height: 43px;

  --color-body: white;
  --color-main: black;
  --color-yellow: rgb(252, 215, 121);
  --color-pink: rgb(239, 142, 143);
  --color-sky: rgb(157, 175, 215);
  --color-lightsky: rgb(237, 241, 255);
  --color-green: rgb(188, 210, 166);
  --color-purple: rgb(190, 178, 216);
  --color-grey: rgb(186, 190, 191);
  --color-brown: rgb(189, 172, 163);
  --color-font: black;
  --color-smoke: whtesmoke;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body: rgb(55, 55, 55);
    --color-main: rgb(251, 251, 251);
    --color-smoke: rgb(242, 242, 242);
    --color-font: black;
    --color-smoke: whitesmoke;
  }

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-body);
}

body::-webkit-scrollbar {
  width: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

input {
  border: none;
}

.c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tt {
  line-height: calc(var(--font-t));
  font-size: var(--font-t);
  font-weight: 700;
  color: var(--color-font);
}

.tl {
  line-height: calc(var(--font-l) + 4px);
  font-size: var(--font-l);
  font-weight: 700;
  color: var(--color-font);
}

.tm {
  line-height: calc(var(--font-m) + 4px);
  font-size: var(--font-m);
  font-weight: 400;
  color: var(--color-font);
}

.ts {
  line-height: calc(var(--font-s) + 4px);
  font-size: var(--font-s);
  font-weight: 300;
  color: var(--color-font);
}
