:root {
  --font-l: 24px;
  --font-m: 16px;
  --font-s: 14px;
  --font-vs: 12px;
  --header-width: 100vw;
  --header-height: 43px;

  --color-yellow: rgb(252, 215, 121);
  --color-pink: rgb(239, 142, 143);
  --color-sky: rgb(157, 175, 215);
  --color-lightsky: rgb(237, 241, 255);
  --color-green: rgb(188, 210, 166);
  --color-purple: rgb(190, 178, 216);
  --color-grey: rgb(186, 190, 191);
  --color-brown: rgb(189, 172, 163);

  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-shadow-inset: rgba(0, 0, 0, 0.03);

  --color-body: rgb(0, 0, 0);
  --color-main: rgb(255, 145, 20);
  --color-sub: rgb(44, 45, 49);
  --color-font: #c2d6bf;
  --color-guide: white;
  --color-smoke: whitesmoke;
}

@media screen and (max-width: 767px) {
  :root {
    --font-l: 18px;
    --font-m: 16px;
    --font-s: 14px;
    --font-vs: 12px;
    --header-height: 43px;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
  outline: none !important;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  overflow: hidden;
}

body {
  min-height: 100vh;
  background-color: var(--color-body);
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
}

input {
  border: none;
}

.c {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cx {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.cy {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tl {
  font-size: var(--font-l);
  font-weight: 500;
  color: var(--color-font);
}

.tl-b {
  font-size: var(--font-l);
  font-weight: 600;
  color: var(--color-font);
}

.tm {
  font-size: var(--font-m);
  font-weight: 400;
  color: var(--color-font);
}

.ts {
  font-size: var(--font-s);
  font-weight: 300;
  color: var(--color-font);
}

.btn {
  width: fit-content;
  height: fit-content;
  padding: 3px 14px 3px 14px;
  display: inline-block;
  border-radius: 30px;
  background-color: black;
  font-size: var(--font-m);
  color: white;
  text-align: center;
  text-transform: uppercase;
}
