.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hero {
  width: 100vw;
  height: 100vh;
  padding-top: var(--header-height);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.3s;
}

.hero__canvas {
  width: 100vh;
  height: 100vw;
}

.icon-scroll {
  width: 28px;
  height: 45px;
  margin-bottom: 70px;
  position: relative;
  border: 2px solid white;
  border-radius: 12px;
}

.icon-scroll::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%) rotate(45deg);
  border: 2px solid;
  border-color: transparent white white transparent;
}

.icon-scroll__wheel {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: white;
  animation: scrolling 1.6s ease infinite;
}

@keyframes scrolling {
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 8px);
    opacity: 0;
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
