.main {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.main section:not(:nth-child(2)) {
  min-height: fit-content;
  padding: 100px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main section:nth-child(4) {
  border: 1px solid rgb(75, 0, 0);
}

.hero {
  width: 100vw;
  height: 100svh;
  padding-top: var(--header-height);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.3s;
}

.icon-scroll {
  width: 28px;
  height: 45px;
  margin-bottom: 70px;
  position: relative;
  border: 2px solid var(--color-guide);
  border-radius: 12px;
}

.icon-scroll::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%) rotate(45deg);
  border: 2px solid;
  border-color: transparent var(--color-guide) var(--color-guide) transparent;
}

.icon-scroll__wheel {
  width: 6px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
  border-radius: 12px;
  background-color: var(--color-guide);
  animation: scrolling 1.6s ease infinite;
}

.about-me__text-wrapper {
  width: fit-content;
  max-width: 100vw;
  height: fit-content;
  padding: 10px 16px;
}

.about-me__text-wrapper p {
  margin-bottom: 7px;
  text-align: center;
}

.about-me__text-wrapper p:nth-child(3) {
  margin-bottom: 70px;
}

@keyframes scrolling {
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 8px);
    opacity: 0;
  }
}

@media screen and (max-width: 1023px) {
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 479px) {
}
