.menu-btn__pre {
  z-index: 110;
}

.menu {
  width: var(--header-width);
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition-property: height, opacity, padding;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  overflow-y: scroll;
  background-color: var(--color-body);
  opacity: 0;
}

.menu::-webkit-scrollbar {
  width: 0;
}

.menu--show {
  height: 100dvh;
  padding: 20px 0;
  opacity: 1;
}

.menu__section-wrapper {
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.menu__section {
  scroll-snap-align: start;
  margin-bottom: 60px;
  position: relative;
}

.menu__section::after {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: var(--color-font);
  box-shadow: 4px 0 4px var(--color-shadow);
}

.menu__topic {
  width: 50%;
  padding: 10px 17px;
  position: sticky;
  top: 30px;
}

.menu__topic a {
  width: fit-content;
  display: block;
  margin-left: auto;
}

.menu__subTopic {
  width: 50%;
  padding: 10px 17px;
  margin-left: auto;
  display: block;
  position: relative;
}

.menu__subTopic a {
  width: fit-content;
  display: block;
  margin-right: auto;
}

.menu__topic p {
  height: fit-content;
  margin-left: auto;
  text-transform: uppercase;
  text-align: end;
  transition: transform 0.2s;
  font-size: 30px;
  font-weight: 600;
}

.menu__topic p:hover {
  transform: translateX(-6px);
}

.menu__subTopic p {
  height: fit-content;
  margin-right: auto;
  text-transform: capitalize;
  text-align: start;
  transition: transform 0.2s;
  font-size: 30px;
  font-weight: 500;
}

.menu__subTopic p:hover {
  transform: translateX(6px);
}

@media screen and (max-width: 479px) {
  .menu__section {
    margin-bottom: 30px;
  }

  .menu__topic p {
    font-size: 20px;
  }

  .menu__subTopic p {
    font-size: 20px;
  }
}
