.logo {
  --gap: 4px;
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 100%;
  background-color: var(--color-body);
}
.logo:hover {
  --gap: 6px;
}

.logo div {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid;
  border-color: var(--color-body);
  background-color: var(--color-main);
  transform: rotateZ(45deg) rotate3d(-1, 1, 0, 60deg);
  transition: 0.3s;
}

.logo div:nth-child(1) {
  transform: translate(-50%, -50%) translateY(var(--gap)) rotateZ(45deg)
    rotate3d(-1, 1, 0, 60deg);
}

.logo div:nth-child(2) {
  transform: translate(-50%, -50%) rotateZ(45deg) rotate3d(-1, 1, 0, 60deg);
}

.logo div:nth-child(3) {
  transform: translate(-50%, -50%) translateY(calc(var(--gap) * -1))
    rotateZ(45deg) rotate3d(-1, 1, 0, 60deg);
}
