.ts-card {
  width: 480px;
  height: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  cursor: none;
}

.ts-card__section {
  flex-grow: 1;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  border-radius: 12px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.6);
  background-color: rgb(255, 255, 255);
}

.ts-card__section > h3 {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.ts-card__section-info {
  width: fit-content;
  max-width: 230px;
  height: fit-content;
  padding: 10px 16px;
  position: fixed;
  border-radius: 12px;
  background-color: rgb(237, 249, 212);
  box-shadow: 1.5px 1.5px 1px 3px rgba(0, 0, 0, 1);
  opacity: 0;
  z-index: 2;
  font-weight: 600;
}

.ts-card__item {
  list-style: none;
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}

.gauge-bar {
  flex-grow: 1;
  height: 18px;
  margin: 0 10px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s;
}

.gauge-bar__filled {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 12px;
  background: linear-gradient(
    270deg,
    rgba(0, 31, 255, 1) 0%,
    rgba(0, 255, 29, 1) 100%
  );
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  transition: 1.6s ease-in-out;
}

.gauge-bar__border {
  width: 3px;
  height: 80%;
  border-radius: 100%;
  border-right: 1px solid rgb(190, 190, 190);
}

@media screen and (max-width: 1023px) {
  .ts-card {
    width: 90vw;
  }
}
